<div class="car-details__dialog-panel">
  <button
  class="car-details__close-btn"
  type="button"
  mat-dialog-close
  >
    <mat-icon>close</mat-icon>
  </button>

  <div class="flex-1 flex flex-col gap-4">
    <div class="car-details__main-image rounded-3xl">
      <img class="object-contain" [src]="dataService.generateCarImageUrl(data)" alt="car">
    </div>
    <div class="flex gap-2">
      <div class="flex-1 flex items-center relative w-full h-24 bg-primary-blue-100 rounded-xl">
        <img class="object-contain" [src]="dataService.generateCarImageUrl(data,'29')" alt="hero image">
      </div>
      <div class="flex-1 flex items-center relative w-full h-24 bg-primary-blue-100 rounded-xl">
        <img class="object-cover" [src]="dataService.generateCarImageUrl(data,'33')" alt="car">
      </div>
      <div class="flex-1 flex items-center relative w-full h-24 bg-primary-blue-100 rounded-xl">
        <img class="object-contain" [src]="dataService.generateCarImageUrl(data,'13')" alt="car">
      </div>
    </div>
  </div>

  <div class="flex-1 flex flex-col gap-2">
    <h2 class="font-semibold text-xl capitalize">
      {{data.make}} {{data.model}}
    </h2>
    <div class="mt-3 flex flex-wrap gap-4">
      @for(item of dataEntries; track item[0]){
        <div class="flex justify-between w-full text-right gap-2">
          <h4 class="text-stone-500 capitalize">
            {{item[0].split('_').join(' ')}}
          </h4>
          <p class="text-black-100 font-semibold">
            {{item[1]}}
          </p>
        </div>
      }
    </div>
  </div>
</div>
