<main class="overflow-hidden relative bg-white dark:bg-black-100">
  <button
  (click)="toggleDarkMode()"
    class="fixed bottom-2 right-2 z-10 w-[40px] h-[40px] flex items-center justify-center bg-primary-blue rounded-full">
    @if(darkMode() === true) {
      <mat-icon class="text-white">
        light_mode
      </mat-icon>
    }
    @else {
      <mat-icon class="text-white">
        dark_mode
      </mat-icon>
    }  
  </button>
  <app-scroll-top />
  <app-navbar />
  <app-hero />
  <app-catalog />
  <app-footer />
</main>
<!-- <router-outlet></router-outlet> -->